body{
    background-image: url('Image/workplace.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

h1{
    color: brown;
    font-family:'Courier New', Courier, monospace;
    font-size: larger;
    border:indianred solid 3px;
    margin-left: 30px;
    margin-top: 40px;
}




table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: blanchedalmond;
    border-radius: 10px ;
    border-style:dotted;
}
td, th{
    border-color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align:centre;
    padding: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:burlywood;
  }


  ul{
      background-color:burlywood;
      margin:0;
      padding:0;
      list-style-type:none;
      overflow: hidden;

  }
  
  li{
      float: left;
  }
 

  li a{
      padding: 20px;
      display: block;
      text-decoration:none;
      

  }

  li a:hover{
      background-color: wheat;
  }

  
  .city{
      background-color: wheat;
      color: white;
      padding:20px;

  }
  #go{
background-color: yellow;
color:white;
text-align: center;
padding:50px
  }

